
.contact__container{
    margin-top: 5rem;

}

.contact__info{
    margin-top: 3rem;
}

.contact__section{
    display: flex;
    justify-content: start;
    align-items: center;
}

.contact__h3{
    color: var(--clr-slate600);
    font-size: var(--size-lg);
}

.contact__container__links{
    padding-bottom: 3rem;
}

.contact__paragraph{
    display: inline-block;
   min-width: 50px;
}

.contact__icon{
    width: 35px;
    height: 35px;
    display: inline-block;
}

.contact__icon__phone{
    
    width: 40px;
    height: 40px;
}

.contact__data {
    margin-left: 1rem;
    color: var(--clr-slate600);
}

.contact__sm-profile{
    display: inline-block;
    margin-left: 0.625rem;
    margin-right: 0.2rem;
}

.contact__paragraph__altcontact{
    color: var(--clr-slate400);
    font-size: var(--size-lg);
}

.contact__container__rights {
    padding-top: 5rem;
}

.footer__rights{
    color: var(--clr-slate800);
    text-align: center;
}




@media (min-width: 475px) {
    .footer__section__right{
        margin-top: 3rem;
    }
}
@media (min-width: 640px){
    .footer__section__right{
        margin-top: 2rem;
    }
}
